#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.title {
  color: #000;
  text-align: center;
  margin-top: auto;
}




.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
